@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
    text-decoration: none;
}

html{
    font-size: 16px;
}

body{
    min-height: 100vh;
    background-color: #1f143d;
}

/*Style Header & Navbar*/

header{
    position: sticky;
    top: 0;
    z-index: 10;
}

header .top_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f143d;
    padding: 0 5%;
}

.menu-burger{
    position: relative;
    height: 25px;
    display: none;
}

.nom{
    font-size: 2.2rem;
    color: #ffffff;
    text-decoration: none;
    margin-right: 40px;
}

.panier:hover{
    filter: drop-shadow(0px 0px 5px #71d6f5);
}

#nav_bar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    list-style: none;
    background-color: #271e46;
}

#nav_bar a{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    margin: 0 3rem;
    font-family: "Quantico", sans-serif;
}

#nav_bar a:hover{
    text-shadow: #71d6f5 0 0 12px;
}

#icons{
    display: none;
    cursor: pointer;
    font-size: 20px;
}

/*Style Main*/
main{
    width: 70%;
    margin: 35px auto 35px auto;
    z-index: 1;
}

.main_top{
    display: flex;
    justify-content: center;
}

.top_produit{
    display: flex;
    justify-content: center;
}

.top_produit .images img{
    border-radius: 20px;
}

.top_produit .images img{
    height: 700px;
}

.presentation{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    color: #ffffff;
}
.presentation h2{
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
}

table{
    background-color: #0c0020;
    border-collapse: collapse;
    text-align: center;
    margin-top: 10px;
    width: 100%;
}

th{
    font-size: 1.5rem;
    text-transform: uppercase;
}

td{
    font-size: 1.2rem;
    text-transform: uppercase;
}

 td,th{
    border: 1px solid #271e46;
    padding: 8px 10px;
}

.prix{
    display: flex;
    margin: 40px 0;
    justify-content: center;
}

.prix span{
    font-size: 2rem;
    font-weight: 700;
}

.prix button{
    background-color: #16cc8f;
    padding: 10px;
    border-radius: 50px;
    font-size: 1rem;
    width: 200px;
    margin-left: 20%;
    border: none;
    cursor: pointer;
}

.prix button:hover{
    background-color: #1cd094;
}

.info tr th{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    margin: 70px 0;
}

.description hr{
    margin-bottom: 70px;
    border: 2px solid #271e46;
}

.description iframe{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.description p{
   padding: 30px 30px 0px 30px;
   background-image: #0c0020;
}

.description .titre_description{
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 700;
    border-radius: 15px;
    margin: 30px auto auto;
    padding: 30px;
    height: 30px;
    width: 40%;
    border: 1px solid #fff;
}

.titre_section{
    display: inline-block;
    margin: 35px 0 ;
}

.titre_section strong{
    color: #ffffff;
    background-color: #0c0020;
    padding: 6px 16px;
    font-family: "Quantico", sans-serif;
    font-size: 2.7rem;
    text-transform: uppercase;
    border: 1px solid rgba(142, 212, 233, 0.697);
    box-shadow: 0 0 9px rgba(142, 212, 233, 0.697),
    inset 0 0 5px rgba(142, 212, 233, 0.697);
}

.grille{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 20%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    gap: 20px 10px;
}

.item{
    display: flex;
    flex-direction: column;
    transform: scale();
}

.item img{
    height: 420px;
    border-radius: 5px;
}

.item img:hover{
    transition: transform ease-in-out .3s;
    transform: scale(1.04);
}

.item_info{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #0c0020;
    margin-top: 15px;
}

.item_info a, span, button{
    color: #ffffff;
}

.item_info a{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    width: auto;
}

.item_info a:hover{
    text-decoration: underline;
}

.item_info span{
    margin: auto 0 10px 0;
    padding: 7px 0 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2); 
}

.item_info button{
    background-color: #16cc8f;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    width: auto;
    border: none;
    cursor: pointer;
}

.item_info button:hover{
    background-color: #1cd094;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    left: 0;
}

.pagination ul{
    display: flex;
    list-style: none;
}

.pagination ul li{
    margin: 0 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
    color: #ffffff;
    background-color: #180d38;
    transition: background-color 600ms;
}

.pagination ul li:hover{
    border-color: #1979c3;
    background-color: #1979c3;
}

.pagination ul li.active{
    border-color: #1979c3;
    background-color: #1979c3;
}

/*Style footer*/

footer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    padding: 70px;
    background-color: #0c0020;
    color: #ffffff;
}

.footer_list{
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 20px 0;
}

.footer_list a{
    color: #ffffff;
}

.footer_list h3{
    margin-bottom: 15px;
    font-size: 2.2rem;
}

.footer_list li, a, p{
    list-style: none;
    font-size: 1.3rem;
    padding: 5px;
}

.footer_list .phone::before{
    content: "\2706";
}

.footer_list li, .footer_list a:hover{
    color: rgba(255, 255, 255, 0.8);
}
/*Responsive*/

@media only screen and (max-width : 2300px){
    .item img{
        height: 360px;
    }
    
    .item_info a{
        font-size: 1rem;
    }
}

@media only screen and (max-width : 2000px){
    .item img{
        height: 320px;
    }

    .item_info a{
        font-size: 0.9rem;
    }
}

@media only screen and (max-width : 1770px){
    .item img{
        height: 280px;
    }

    .item_info a{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width : 1550px){
    .top_produit{
        flex-direction: column;
    }
    
    .presentation{
        margin: 20px 0 0 0; 
    }

    .images{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .images img{
        margin: 0 0 0 0;
    }

    .item img{
        height: 240px;
    }

    .item_info{
        height: 200px;
    }

    .item_info a{
        font-size: 0.7rem;
    }

    .item_info button{
        font-size: 0.6rem;
    }
}

@media only screen and (max-width : 1350px){
    
    iframe{
        height: 80%;
        width: auto;
    }
    
    .item img{
        height: 220px;
    }

    .item_info{
        height: 180px;
    }

    .item_info a{
        font-size: 0.5rem;
    }
}

@media only screen and (max-width : 1240px) {

    /*Style Header & Navbar*/

    #icons{
        display: block;
    }

    #icons::before{
        content: "\2630";
        color: #71d6f5;

    }

    .active #croix::before{
        display: inline-block;
        margin-top: 5%;
        margin-left: 84%;
        font-size: 20px;
        content: "\2715";
        color: #ffffff;
    }
    
    .logo{
        transform: scale(0.4);
    }

    .nom{
        font-size: 1rem;
        margin-right: 0;
    }

    .panier{
        transform: scale(0.3);
    }

    #nav_bar{
        height: 100%;
        width: 40%;
        background-color: #0c0020;
        position: fixed;
        top: 0;
        left: -100%;
        transition: 250ms;
    }

    #nav_bar ul{
        margin-top: 10%;
        flex-direction: column;
    }

    #nav_bar ul li{
        
        margin: 1.5rem 0;
    }

    #nav_bar.active{
        left: 0;
        transition: 250ms;
    }

    /*Style Main*/

    main{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .main_top{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .grille{
        justify-content: center;
    }

    .description .titre_description{
        font-size: 1rem;
    }

    iframe{
        height: 85%;
        width: auto;
    }

    .item_info{
        height: 150px;
    }

    .item img{
        height: 250px;
    }

    .titre_section strong{
        font-size: 1.5rem;
    }

    /*Style Footer*/

    .centre{
        border-color: #1f143d;
        border-style: solid;
        border-width: 1px 0;
    }

    .footer_list h2, li, a, p{
        font-size: 0.7rem;
    }

    footer, .centre{
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (max-width : 610px){

    .top_produit .images img{
        height: 600px;
    }

    .presentation h2 {
        font-size: 2.6rem;
    }

    .description .titre_description{
        font-size: 0.7rem;
    }

    iframe{
        height: 80%;
        width: auto;
    }

    th{
        font-size: 1.3rem;
    }
    
    td{
        font-size: 0.9rem;
    }
    
    .item img{
        height: 180px;
    }

    .item_info{
        height: 180px;
    }

    .item_info a{
        font-size: 0.5rem;
    }
}

@media only screen and (max-width : 500px){
    .top_produit .images img{
        height: 380px;
    }

    .description .titre_description{
        font-size: 0.5rem;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    
    /*Style Header & Navbar*/

    #icons{
        display: block;
    }
    #icons::before{
        content: "\2630";
    }

    .logo{
        transform: scale(0.3);
        float: left;

    }

    .nom{
        font-size: 0.4rem;
    }

    .panier{
        transform: scale(0.3);
    }

    #nav_bar{
        height: 100%;
        width: 40%;
        background-color: #0c0020;
        position: fixed;
        top: 0;
        left: -100%
    }

    #nav_bar ul{
        margin-top: 10%;
        flex-direction: column;
    }

    #nav_bar ul li{
        
        margin: 1.5rem 0;
    }

    #nav_bar.active{
        left: 0;
        transition: 0.25s;
    }

    /*Style Main*/

    main{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
    }

    .top_produit .images img{
        height: 330px;
    }

    iframe{
        height: 50%;
        width: auto;
    }

    th{
        font-size: 0.6rem;
    }
    
    td{
        font-size: 0.2rem;
    }

    .presentation h2 {
        font-size: 2.4rem;
    }

    .titre_section{
        text-align: center;
    }

    .titre_section strong{
        font-size: 1rem;
    }

    .item img{
        height: 140px;
    }

    .item_info a{
        font-size: 0.4rem;
    }

    .item_info span{
        font-size: 0.7rem;
    }

    .item_info button{
        font-size: 0.4rem;
    }

    .pagination ul li{
        height: 25px;
        width: 25px;
        line-height: 22.5px;
    }
    
    /*Style Footer*/

    footer{
        flex-direction: column;
        padding: 50px;
    }

    .footer_list h3, li, a, p{
        font-size: 0.8rem;
        align-items: center;
    }
}